<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="增值税农产品核定抵扣（增值税一般纳税人使用）">
<input type='hidden' id="table_name" value="农产品核定扣除增值税进项税额计算表（汇总表）">
<input type='hidden' id="table_type" value="1">
<table id="bodytable" width="616px;">
<tr class='titletr title-notic'>
    <td colspan = '7' id='titletd'>农产品核定扣除增值税进项税额计算表（汇总表）</td>
</tr>
<tr class='titletr title-notic'>
    <td colspan = '7' class='font-weight'>（税额抵减情况表）</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>税款所属期：2015年02月01日至2015年02月28日</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>纳税人识别号：410711775106396</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>纳税人名称：（公章）河南起重机械有限公司</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:
    73px;height:30px;">序号</td>
    <td class='gauge-style text-center' colspan="2">核定方法</td>
    <td class='gauge-style text-center'>当期允许抵扣农产品增值税进项税额</td>
    <td class='gauge-style text-center' style='width:105px'>备注</td>
</tr>
<tr>
    <td class='gauge-style text-center' rowspan="2">1</td>
    <td class='gauge-style text-left' rowspan="2" style="width:173px;">以购进农产品为原料生产货物</td>
    <td class='gauge-style text-center' style='width:67px;'>投入产出法</td>
    <td class ='tddata gray icon'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'></div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center'>成本法</td>
    <td class ='tddata gray icon'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'></div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center'>2</td>
    <td class='gauge-style text-left' colspan="2">购进农产品直接销售</td>
    <td class ='tddata gray icon'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'></div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center'>3</td>
    <td class='gauge-style text-left' colspan="2">购进农产品用于生产经营且不构成货物实体</td>
    <td class ='tddata gray icon'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'></div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' colspan="3">合计</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
</tr>

</table>
</block>
</extend>