<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="增值税农产品核定抵扣（增值税一般纳税人使用）">
<input type='hidden' id="table_name" value="投入产出法核定农产品增值税进项税额计算表">
<input type='hidden' id="table_type" value="1">
<table id="bodytable" width="762px;">
<tr class='titletr title-notic'>
    <td colspan = '11' id='titletd'>投入产出法核定农产品增值税进项税额计算表</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>税款所属期：2015年02月01日至2015年02月28日</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>纳税人识别号：410711775106396</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>纳税人名称：（公章）河南起重机械有限公司</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:
    73px;height:30px;">操作</td>
    <td class='gauge-style text-center' rowspan="3" style='width:66px'>序列</td>
    <td class='gauge-style text-center' rowspan="3" style='width:120px'>产品名称</td>
    <td class='gauge-style text-center' rowspan="2" style='height:60px;width:100px;'>成本法</td>
    <td class='gauge-style text-center' rowspan="2" style='width:138px;'>成本法</td>
    <td class='gauge-style text-center' rowspan="2" style='width:120px;'>成本法</td>
    <td class='gauge-style text-center' rowspan="2" style='width:138px;'>成本法</td>
</tr>
<tr>
    <td class='gauge-style text-center' rowspan="2">
        <input type='button' value='增加'>
        <input type='button' value='删除'>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style='height:30px;'>L1</td>
    <td class='gauge-style text-center'>L2</td>
    <td class='gauge-style text-center'>L3</td>
    <td class='gauge-style text-center'>L4=L2*L3*l1/（1+L1）</td>
</tr>
<tr>
    <td class='gauge-style text-center' style='height:30px;'>--</td>
    <td class='gauge-style text-center' style='height:30px;'>--</td>
    <td class='gauge-style text-center' style='height:30px;' colspan="4">合计</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr class='titletr'>
    <td style='height:28px;' colspan="11">注：采用</td>
</tr>
<tr class='titletr'>
    <td style='height:28px;' colspan="11">&nbsp; &nbsp; 投入</td>
</tr>
<tr class='titletr'>
    <td style='height:28px;' colspan="11">&nbsp; &nbsp; 各项</td>
</tr>

</table>
</block>
</extend>