<extend name="TableNode1/base"/>
<block name="blocktable">
    <input type='hidden' id="table_url" value="{$table_url}">
    <input type='hidden' id="root_name" value="增值税农产品核定抵扣（增值税一般纳税人使用）">
    <input type='hidden' id="table_name" value="购进农产品直接销售核定农产品增值税">
    <input type='hidden' id="table_type" value="1">
    <table id="bodytable" width="1800px;">
        <tr class='titletr title-notic'>
            <td colspan = '14' id='titletd'>购进农产品直接销售核定农产品增值税</td>
        </tr>
        <tr class='title-notic titletr'>
            <td colspan = '14' class="title-notic">&nbsp;</td>
        </tr>
        <tr class='titletr title-notic'>
            <td class='titletr text-left' colspan = '5'>纳税人姓名：河南起重机器有限公司</td>
            <td class='titletr text-left' colspan= "5">纳税人识别号：410711775106396</td>
            <td class='titletr text-left' colspan="4">税款所属时间：2015年02月01日 至 2015年02月28日</td>
        </tr>
        <tr>
            <td height="20px" width="50px" class="gauge-style text-center">操作</td>
            <td width="40px" rowspan="3" class="gauge-style text-center">序列</td>
            <td width="100px" rowspan="3" class="gauge-style text-center">产品名称</td>

            <td width="100px" rowspan="2" class="gauge-style text-center">当期销售农产品数量（吨）</td>
            <td width="100px" rowspan="2" class="gauge-style text-center">损耗数量</td>
            <td width="100px" rowspan="2" class="gauge-style text-center">农产品购进数量</td>
            <td width="100px" rowspan="2" class="gauge-style text-center">损耗率（％）</td>
            <td width="100px" rowspan="2" class="gauge-style text-center">期初库存农产品数量（吨）</td>
            <td width="100px" rowspan="2" class="gauge-style text-center">期初平均买价（元／吨）</td>
            <td width="100px" rowspan="2" class="gauge-style text-center">当期购进农产品数量（吨）</td>
            <td width="100px" rowspan="2" class="gauge-style text-center">当期买价（元／吨）</td>
            <td width="100px" rowspan="2" class="gauge-style text-center">农产品平均购买单价（元／吨）</td>
            <td width="100px" rowspan="2" class="gauge-style text-center">扣除率（13%）</td>
            <td width="100px" rowspan="2" class="gauge-style text-center">当期允许抵扣农产品进项税额（元）</td>
        </tr>
        <tr>
            <td height="20px" width="50px" class="gauge-style text-center">
                <button>增加</button>
            </td>
        </tr>
        <tr>
            <td height="20px" width="50px" class="gauge-style text-center">
                <button>删除</button>
            </td>
            <td height="20px" width="50px" class="gauge-style text-center">L1</td>
            <td height="20px" width="50px" class="gauge-style text-center">L2</td>
            <td height="20px" width="50px" class="gauge-style text-center">L3</td>
            <td height="20px" width="50px" class="gauge-style text-center">L4＝L2/L3</td>
            <td height="20px" width="50px" class="gauge-style text-center">L5</td>
            <td height="20px" width="50px" class="gauge-style text-center">L6</td>
            <td height="20px" width="50px" class="gauge-style text-center">L7</td>
            <td height="20px" width="50px" class="gauge-style text-center">L8</td>
            <td height="20px" width="50px" class="gauge-style text-center">L9＝（L5+L6+L7+L8）／（L5+L7）</td>
            <td height="20px" width="50px" class="gauge-style text-center">L10</td>
            <td height="20px" width="50px" class="gauge-style text-center">L11＝L1/（1-L4）＊L9＊L10／（1+L10）</td>

        </tr>
        <tr>
            <td height="20px" width="50px" colspan="14" class="gauge-style text-center">合计</td>
        </tr>
        <tr class='titletr'>
            <td colspan = '14'>注：1. 购进农产品直接销售的试点纳税人填列本表。</td>
        </tr>
        <tr class='titletr'>
            <td colspan = '14'>&emsp;&emsp;2. 各项数据均保留两位小数。</td>
        </tr>
    </table>
</block>
</extend>