<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="增值税（一般纳税人使用）">
<input type='hidden' id="table_name" value="增值税运输发票抵扣清单">
<input type='hidden' id="table_type" value="1">
<table id="bodytable" width="954px;">
<tr class='titletr title-notic'>
    <td colspan = '11' id='titletd'>增值税运输发票抵扣清单</td>
</tr>
<tr class='titletr'>
    <td colspan = '11'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan="5">纳税人名称：（公章）河南起重机械有限公司</td>
    <td colspan="4">纳税人识别号：410711775106396</td>
    <td colspan="2" class='text-right'>金额单位：元至角至分</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:53px;height:44px;">序号</td>
    <td class='gauge-style text-center' style='width:58px'>发票种类</td>
    <td class='gauge-style text-center' style='width:85px'>发票号码</td>
    <td class='gauge-style text-center' style="width:85px;">开票日期</td>
    <td class='gauge-style text-center' style='width:85px'>运输单位名称</td>
    <td class='gauge-style text-center' style='width:85px'>运输单位纳税人识别号</td>
    <td class='gauge-style text-center' style="width:85px;">运输单位主管地方税务局名称</td>
    <td class='gauge-style text-center' style='width:85px'>运输单位主管地方税务局代码</td>
    <td class='gauge-style text-center' style='width:107px'>运营金额</td>
    <td class='gauge-style text-center' style="width:107px;">允许计算抵扣的运费金额</td>
    <td class='gauge-style text-center' style='width:107px'>计算抵扣的进项税额</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:53px;height:30px;">一</td>
    <td class='gauge-style text-center' style='width:58px'>铁路运输</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:53px;height:30px;">二</td>
    <td class='gauge-style text-center' style='width:58px'>航空运输</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>   
</tr>
<tr>
    <td class='gauge-style text-center' style="width:53px;height:30px;">三</td>
    <td class='gauge-style text-center' style='width:58px'>管道运输</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdatar'>0.00</div>
    </td> 
</tr>
<tr>
    <td class='gauge-style text-center' style="width:53px;height:30px;">四</td>
    <td class='gauge-style text-center' style='width:58px'>航洋运输</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td> 
</tr>
<tr>
    <td class='gauge-style text-center' colspan="2" style="width:53px;height:30px;">合计</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td> 
</tr>

</table>
</block>
</extend>