<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="增值税（一般纳税人使用）">
<input type='hidden' id="table_name" value="代扣代缴税通用缴款书抵扣清单">
<input type='hidden' id="table_type" value="1">
<table id="bodytable" width="955px;">
<tr class='titletr title-notic'>
    <td colspan = '11' id='titletd'>代扣代缴税通用缴款书抵扣清单</td>
</tr>
<tr class='titletr'>
    <td colspan = '3'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '6'>纳税人识别号：410711775106396</td>
    <td colspan = '2' class='text-right'>纳税人名称：（公章）河南起重机械有限公司</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>税款所属期：自2015年02月01日至2015年02月28日</td>
    <td class='text-right'>金额单位：元至角至分</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:53px;height:56px;">
        <input type='button' value='增加'>
        <input type='button' value='删除'>
    </td>
    <td class='gauge-style text-center' style='width:58px'>序列</td>
    <td class='gauge-style text-center' style='width:85px'>扣缴人纳税人识别号</td>
    <td class='gauge-style text-center' style="width:85px;">扣缴人名称</td>
    <td class='gauge-style text-center' style='width:85px'>征收机关名称</td>
    <td class='gauge-style text-center' style='width:85px'>代扣代缴项目</td>
    <td class='gauge-style text-center' style="width:85px;">代扣代缴凭证编号</td>
    <td class='gauge-style text-center' style='width:85px'>税额</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:53px;height:28px;"></td>
    <td class='gauge-style text-center' style='width:58px'>合计</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata none-center'>--</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
</table>
</block>
</extend>