<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="增值税（一般纳税人使用）">
<input type='hidden' id="table_name" value="增值税纳税申请表附列资料（三）">
<input type='hidden' id="table_type" value="1">
<table id="bodytable" width="808px;">
<tr class='titletr title-notic'>
    <td colspan = '7' id='titletd'>增值税纳税申请表附列资料（三）</td>
</tr>
<tr class='titletr title-notic'>
    <td colspan = '7' class='font-weight'>（应税服务扣除项目明细）</td>
</tr>
<tr class='titletr title-notic'>
    <td colspan = '7'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>税款所属期：</td>
</tr>
<tr class='titletr'>
    <td colspan = '5'>纳税人名称：（公章）</td>
    <td colspan = '2' class='text-right'>金额单位：元至角至分</td>
</tr>
<tr>
    <td class='gauge-style text-center' rowspan="3" style="width:157px;height:90px;">项目及栏次</td>
    <td class='gauge-style text-center' rowspan="2">本期应税服务价税合计（免税销售额）</td>
    <td class='gauge-style text-center' colspan="5">应税服务扣税项目</td>
    
</tr>
<tr >
    <td class='gauge-style text-center' style='width:105px'>初期余额</td>
    <td class='gauge-style text-center' style='width:105px'>本期发生额</td>
    <td class='gauge-style text-center' style='width:105px'>本期应扣除金额</td>
    <td class='gauge-style text-center' style='width:105px'>本期实际扣除金额</td>
    <td class='gauge-style text-center' style='width:105px'>期末余额</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:105px;">1</td>
    <td class='gauge-style text-center'>2</td>
    <td class='gauge-style text-center'>3</td>
    <td class='gauge-style text-center'>4=2+3</td>
    <td class='gauge-style text-center'>5(5≤1且5≤4)</td>
    <td class='gauge-style text-center'>6=4-5</td>
</tr>
<tr>
    <td class='gauge-style' >17%税率的有形动产租赁服务</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray color-blue'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style' >11%税率的应税服务</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray color-blue'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style' >6%税率的应税服务</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray color-blue'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style' >3%税率的应税服务</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray color-blue'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style' >免抵退税的应税服务</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray color-blue'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style' >免税的应税服务</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray color-blue'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
</table>
</block>
</extend>