<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="增值税（一般纳税人使用）">
<input type='hidden' id="table_name" value="固定资产进项税额抵扣情况表">
<input type='hidden' id="table_type" value="1">
<table id="bodytable" width="718px;">
<tr class='titletr title-notic'>
    <td colspan = '3' id='titletd'>固定资产进项税额抵扣情况表</td>
</tr>
<tr class='titletr'>
    <td colspan = '3'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '3'>纳税人识别号：410711775106396</td>
</tr>
<tr class='titletr'>
    <td>纳税人名称：（公章）河南起重机械有限公司</td>
    <td>填表日期：2015年03月06日</td>
    <td class='text-right'>金额单位：元至角至分</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:325px;height:31px;">项目</td>
    <td class='gauge-style text-center' style='width:195px'>当期申报抵扣的固定资产进项税额</td>
    <td class='gauge-style text-center' style='width:195px'>申报抵扣的固定资产进项税额累计</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:105px;height:31px;">增值税专用发票</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:31px;">海关进口增值税专用缴款书</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    
</tr>
    <td class ='gauge-style text-center' style="height:31px;">合计</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>

</table>
</block>
</extend>