<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="增值税（一般纳税人使用）">
<input type='hidden' id="table_name" value="增值税纳税申请表附列资料（四）">
<input type='hidden' id="table_type" value="1">
<table id="bodytable" width="746px;">
<tr class='titletr title-notic'>
    <td colspan = '7' id='titletd'>增值税纳税申请表附列资料（四）</td>
</tr>
<tr class='titletr title-notic'>
    <td colspan = '7' class='font-weight'>（税额抵减情况表）</td>
</tr>
<tr class='titletr title-notic'>
    <td colspan = '7'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>税款所属期：2015年02月01日至2015年02月28日</td>
</tr>
<tr class='titletr'>
    <td colspan = '5'>纳税人名称：（公章）河南起重机械有限公司</td>
    <td colspan = '2' class='text-right'>金额单位：元至角至分</td>
</tr>
<tr>
    <td class='gauge-style text-center' rowspan="2" style="width:57px;height:60px;">序号</td>
    <td class='gauge-style text-center' style='width:142px'rowspan="2">抵减项目</td>
    <td class='gauge-style text-center' style='width:105px'>初期余额</td>
    <td class='gauge-style text-center' style='width:105px'>本期发生额</td>
    <td class='gauge-style text-center' style='width:105px'>本期应扣除金额</td>
    <td class='gauge-style text-center' style='width:105px'>本期实际扣除金额</td>
    <td class='gauge-style text-center' style='width:105px'>期末余额</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:105px;">1</td>
    <td class='gauge-style text-center'>2</td>
    <td class='gauge-style text-center'>3=1+2</td>
    <td class='gauge-style text-center'>4≤3</td>
    <td class='gauge-style text-center'>5=3-4</td>
</tr>
<tr>
    <td class='gauge-style text-center' >1</td>
    <td class='gauge-style'>增值税税控系统专用设备费及技术维护费</td>
    <td class ='tddata gray color-blue icon'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' >2</td>
    <td class ='gauge-style'>分支机构预征缴纳税款</td>
    <td class ='tddata gray color-blue icon'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>

</table>
</block>
</extend>