<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="增值税农产品核定抵扣（增值税一般纳税人使用）">
<input type='hidden' id="table_name" value="农产品核定扣除增值税进项税额计算表（汇总表）">
<input type='hidden' id="table_type" value="1">
<table width="100%" rules="none" border="0" style="background-color:#ede6d7; ">
    <tr><td style="border:0px;"><div style="margin-left: -1px; height: 355px; background: url('__COMMON__/image/qiyejichuxinxibiao1.jpg') no-repeat;"></div></td></tr>
    <tr><td style="border: 0px;"><div style="height: 344px; background: url('__COMMON__/image/qiyejichuxinxibiao2.jpg') no-repeat;"></div></td></tr>
    <tr><td style="border: 0px;"><div style=" height: 360px; background: url('__COMMON__/image/qiyejichuxinxibiao3.jpg') no-repeat;"></div></td></tr>
    <tr><td style="border: 0px;"><div style="margin-left: -1px; height: 100px; background: url('__COMMON__/image/qiyejichuxinxibiao4.jpg') no-repeat;"></div></td></tr>
</table>
</block>
</extend>