<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="增值税农产品核定抵扣（增值税一般纳税人使用）">
<input type='hidden' id="table_name" value="一般企业收入明细表">
<input type='hidden' id="table_type" value="1">
<table id="bodytable" width="592px;">
<tr class='titletr title-notic'>
    <td colspan = '3' id='titletd'>一般企业收入明细表</td>
</tr>
<tr class='titletr title-notic'>
    <td colspan = '3' class='font-weight'>（税额抵减情况表）</td>
</tr>
<tr class='titletr'>
    <td colspan = '3'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '3'>税款所属期：2015年02月01日至2015年02月28日</td>
</tr>
<tr class='titletr'>
    <td colspan = '3'>纳税人名称：（公章）河南起重机械有限公司</td>
</tr>
<tr class='titletr'>
    <td colspan = '3'>纳税人识别号：410711775106396</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:
    72px;height:25px;">行次</td>
    <td class='gauge-style text-center' style="width:
    360px;">项目</td>
    <td class='gauge-style text-center' style='width:157px'>金额</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;">1</td>
    <td class='gauge-style text-left' style="width:173px;">一、营业收入（2+9）</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>3,904,106,50</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;">2</td>
    <td class='gauge-style text-left' style="width:173px;">（一）主营业务收入（3+5+6+7+8）</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>3,904,106,50</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >3</td>
    <td class='gauge-style text-left' style="width:173px;">1：销售商品收入</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>3,904,106,50</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >4</td>
    <td class='gauge-style text-left' style="width:173px;">其中：非货币性资产交换收入</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >5</td>
    <td class='gauge-style text-left' style="width:173px;">2：提供劳务收入</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >6</td>
    <td class='gauge-style text-left' style="width:173px;">3：建造合同收入</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >7</td>
    <td class='gauge-style text-left' style="width:173px;">4：让渡资产使用权收入</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >8</td>
    <td class='gauge-style text-left' style="width:173px;">5：其他</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >9</td>
    <td class='gauge-style text-left' style="width:173px;">（二）其他业务收入（10+12+13+14+15）</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>540602.20</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >10</td>
    <td class='gauge-style text-left' style="width:173px;">1：材料销售成本</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >11</td>
    <td class='gauge-style text-left' style="width:173px;">其中：非货币性资产销售成本</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >12</td>
    <td class='gauge-style text-left' style="width:173px;">2：出租固定资产成本</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >13</td>
    <td class='gauge-style text-left' style="width:173px;">3：出租无形资产成本</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >14</td>
    <td class='gauge-style text-left' style="width:173px;">4：包装物出租成本</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >15</td>
    <td class='gauge-style text-left' style="width:173px;">5：其他</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >16</td>
    <td class='gauge-style text-left' style="width:173px;">二、营业外支出（17+18+19+20+21+22+23+24+25+26）</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>01419.85</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >17</td>
    <td class='gauge-style text-left' style="width:173px;">（一）非流动资产处置损失</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >18</td>
    <td class='gauge-style text-left' style="width:173px;">（二）非货币性资产交换损失</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >19</td>
    <td class='gauge-style text-left' style="width:173px;">（三）债务重组损失</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >20</td>
    <td class='gauge-style text-left' style="width:173px;">（四）非常损失</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >21</td>
    <td class='gauge-style text-left' style="width:173px;">（五）捐赠支出</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >22</td>
    <td class='gauge-style text-left' style="width:173px;">（六）赞助支出</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >23</td>
    <td class='gauge-style text-left' style="width:173px;">（七）罚设损失</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >24</td>
    <td class='gauge-style text-left' style="width:173px;">（八）坏账损失</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >25</td>
    <td class='gauge-style text-left' style="width:173px;">（九）无法收回的债券股权投资损失</td>
    <td class ='tddata gray icon'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >26</td>
    <td class='gauge-style text-left' style="width:173px;">（十）其他</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>


</table>
</block>
</extend>