<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="居民企业所得税（据实预缴新）">
<input type='hidden' id="table_name" value="企业所得税月（季）度纳税申报表（A类）">
<input type='hidden' id="table_type" value="1">
<table id="bodytable" width="711px;">
<tr class='titletr title-notic'>
    <td colspan = '7' id='titletd'>中华人民共和国</td>
</tr>
<tr class='titletr title-notic'>
    <td colspan = '7' id='titletd'>企业所得税月（季）度纳税申报表（A类）</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>&nbsp;</td>
</tr>
<tr class='titletr title-notic'>
    <td colspan = '7' class='color-red'>特别提醒：您的预缴方式为“据实预缴”，填写第2-19行数据</td>
</tr>
<tr class='titletr title-notic'>
    <td colspan = '7' class='color-red'>阅读小微企业政策，请打开帮助文档</td>
</tr>
<tr class='titletr title-notic'>
    <td colspan = '7' class='color-red'>请您自觉确认今年是否符合小微企业优惠政策，然后据实填写14或25行</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>&nbsp;</td>
</tr>
<tr class='titletr title-notic'>
    <td colspan = '7'>税款所属期：2015年02月01日至2015年02月28日</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '7'>纳税人识别号：410711775106396</td>
</tr>
<tr class='titletr'>
    <td colspan = '6'>纳税人名称：** </td>
    <td colspan = '1' class =  'text-right'>金额单位：元 </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:
    45px;height:25px;">行次</td>
    <td class='gauge-style text-center' colspan='4'>项目</td>
    <td class='gauge-style text-center' style='width:105px'>本期金额</td>
    <td class='gauge-style text-center' style='width:105px'>累计金额</td>
</tr>
<tr>
    <tr>
    <td class='gauge-style text-center' style="height:25px;" >1</td>
    <td class='gauge-style text-left' colspan="6">一、按照实际利润额预缴</td>
</tr>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;">2</td>
    <td class='gauge-style text-left'  colspan='4'>（一）主营业务收入（3+5+6+7+8）</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>3,904,106,50</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >3</td>
    <td class='gauge-style text-left'  colspan='4'>1：销售商品收入</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>3,904,106,50</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >4</td>
    <td class='gauge-style text-left'  colspan='4'>其中：非货币性资产交换收入</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >5</td>
    <td class='gauge-style text-left'  colspan='4'>2：提供劳务收入</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >6</td>
    <td class='gauge-style text-left'  colspan='4'>3：建造合同收入</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >7</td>
    <td class='gauge-style text-left'  colspan='4'>4：让渡资产使用权收入</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >8</td>
    <td class='gauge-style text-left'  colspan='4'>5：其他</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >9</td>
    <td class='gauge-style text-left'  colspan='4'>（二）其他业务收入（10+12+13+14+15）</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>540602.20</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >10</td>
    <td class='gauge-style text-left'  colspan='4'>1：材料销售成本</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >11</td>
    <td class='gauge-style text-left'  colspan='4'>其中：非货币性资产销售成本</td>
     <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >12</td>
    <td class='gauge-style text-left'  colspan='4'>2：出租固定资产成本</td>
     <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >13</td>
    <td class='gauge-style text-left'  colspan='4'>3：出租无形资产成本</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >14</td>
    <td class='gauge-style text-left'  colspan='4'>4：包装物出租成本</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >15</td>
    <td class='gauge-style text-left'  colspan='4'>5：其他</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >16</td>
    <td class='gauge-style text-left'  colspan='4'>二、营业外支出（17+18+19+20+21+22+23+24+25+26）</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >17</td>
    <td class='gauge-style text-left'  colspan='4'>（一）非流动资产处置损失</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >18</td>
    <td class='gauge-style text-left'  colspan='4'>（二）非货币性资产交换损失</td>
   <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >19</td>
    <td class='gauge-style text-left'  colspan='4'>（三）债务重组损失</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >20</td>
    <td class='gauge-style text-center' colspan="6"></td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >21</td>
    <td class='gauge-style text-left'  colspan='4'>（五）捐赠支出</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >22</td>
    <td class='gauge-style text-left'  colspan='4'>（六）赞助支出</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >23</td>
    <td class='gauge-style text-left'  colspan='4'>（七）罚设损失</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >24</td>
    <td class='gauge-style text-left'  colspan='4'>（八）坏账损失</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >25</td>
    <td class='gauge-style text-left'  colspan='4'>（九）无法收回的债券股权投资损失</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >26</td>
    <td class='gauge-style text-left'  colspan='4'>（十）其他</td>
     <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
     <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >27</td>
    <td class='gauge-style text-center' colspan="6"></td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >28</td>
    <td class='gauge-style text-left'  colspan='4'>（九）无法收回的债券股权投资损失</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >29</td>
    <td class='gauge-style text-center' colspan="6"></td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >30</td>
    <td class='gauge-style text-center' style='width:60px;' rowspan="4">总机构</td>
    <td class='gauge-style text-left'  colspan='3'>（九）无法收回的债券股权投资损失</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >31</td>
    <td class='gauge-style text-left'  colspan='3'>（九）无法收回的债券股权投资损失</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >32</td>
    <td class='gauge-style text-left'  colspan='3'>（九）无法收回的债券股权投资损失</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >33</td>
    <td class='gauge-style text-left'  colspan='3' colspan="4">（九）无法收回的债券股权投资损失</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >34</td>
    <td class='gauge-style text-center' rowspan="2">分支机构</td>
    <td class='gauge-style text-left'  colspan='3'>（九）无法收回的债券股权投资损失</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-center' style="height:25px;" >35</td>
    <td class='gauge-style text-left'  colspan='3'>（九）无法收回的债券股权投资损失</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='text-center' style="height:50px;" colspan="7">谨声明</td>
</tr>
<tr>
    <td class='text-center' style="height:25px;" colspan="7">法定代表人签字：    年   月  日</td>
</tr>
<tr>
    <td class='text-center' style="height:25px;width:208px;" colspan="3">纳税人公章：</td>
    <td class='text-left' style='width:132px;'>代理申报中介机构公章：</td>
    <td class='text-left' style='width:157px;'></td>
    <td class='text-left' colspan="2" rowspan="2">主管税务机关受理公章：</td>
</tr>
<tr>
    <td class='text-left' style="height:25px;" rowspan="2" colspan="3">会计主管：</td>
    <td class='text-left' colspan="2">经办人：</td>
</tr>
<tr>
    <td class='text-left' colspan="2">经办人职业证件号码：</td>
    <td class='text-left' colspan="2">受理人：</td>
</tr>
<tr>
    <td class='text-left' style="height:25px;" colspan="3">填表日期：  年  月  日</td>
    <td class='text-left' colspan="2">代理申报日期：  年  月  日</td>
    <td class='text-left' colspan="2">受理日期：  年  月  日</td>
</tr>
<tr>
    <td class='text-right' style="height:25px;" colspan="7">国家税务总局监制</td>
</tr>
</table>
</block>
</extend>