<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="一般企业财务报表">
<input type='hidden' id="table_name" value="所有者权益变动表">
<input type='hidden' id="table_type" value="1">
<table id="bodytable" style="width:1740px;">
    <tr class='titletr title-notic'>
        <td colspan = '13' id='titletd'>所有者权益变动表</td>
    </tr>
    <tr class='titletr title-notic'>
        <td colspan = '13' class='font-weight'>（本期销售情况明细）</td>
    </tr>
    <tr class='titletr '>
        <td colspan = '13'>&nbsp;</td>
    </tr>
    <tr class='titletr'>
        <td colspan = '5'>税款所属期：自2015年02月01日至2015年02月28日</td>
    </tr>
    <tr class='titletr'>
        <td colspan = '12'>纳税人识别号：410711775106396</td>
        <td class='text-right'>会企04表</td>
    </tr>
    <tr class='titletr'>
        <td colspan = '12'>纳税人名称：（公章）河南起重机械有限公司</td>
        <td class='text-right'>金额单位：元</td>
    </tr>
    <tr>
        <td class='gauge-style text-center' rowspan = '2'>项目</td>
        <td class='gauge-style text-center' colspan = '6'>开具税控增值税专用发票 </td>
        <td class='gauge-style text-center' colspan = '6'>开具其他发票</td>
    </tr>
    <tr >
        <td class='gauge-style text-center' style='width:130px;'>实收资本（或股东）</td>
        <td class='gauge-style text-center' style='width:130px;'>资本公积</td>
        <td class='gauge-style text-center' style='width:130px;'>减：库存股</td>
        <td class='gauge-style text-center' style='width:130px;'>盈余公积</td>
        <td class='gauge-style text-center' style='width:130px;'>未分配利润</td>
        <td class='gauge-style text-center' style='width:130px;'>所有者权益合计</td>
        <td class='gauge-style text-center' style='width:130px;'>实收资本（或股东）</td>
        <td class='gauge-style text-center' style='width:130px;'>资本公积</td>
        <td class='gauge-style text-center' style='width:130px;'>减：库存股</td>
        <td class='gauge-style text-center' style='width:130px;'>盈余公积</td>
        <td class='gauge-style text-center' style='width:130px;'>未分配利润</td>
        <td class='gauge-style text-center' style='width:130px;'>所有者权益合计</td>
    </tr>

    <tr>
        <td class='gauge-style gauge-styleLeft' style='width:180px;' >一、上年年末余额</td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >加：会计政策变更</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >前期差错更正</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr >
        <td class='gauge-style gauge-styleLeft' >二、本年年余额</td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >三、本年增减变动金额（减少以'-'号填列）</td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >（一）净利润</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >（二）直接计入所有者权益的利得与损失</td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >1：可供出售金融资产公允价值变动金额</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >2：权益法下被投资单位其他所有者权益变动的影响</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >3：与计入所有者权益项目相关的所得税影响</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >4：其他</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr >
        <td class='gauge-style gauge-styleLeft' >上述（一）和（二）小计</td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr >
        <td class='gauge-style gauge-styleLeft' >（三）所有者投入和减少资本</td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >1：所有者投入资本</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >2：股份支付计入所有者权益的金额</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >3：其他</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr >
        <td class='gauge-style gauge-styleLeft' >（四）利益分配</td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
        <tr>
        <td class='gauge-style gauge-styleLeft' >1：提取盈余公积</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >2：对所有着（或股东）的分配</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >3：其他</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >（五）所有者权益内部结转</td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
        <tr>
        <td class='gauge-style gauge-styleLeft' >1：资本公积转增资本（或股东）</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >2：盈余公积转增资本（或股东）</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >3：盈余公积弥补亏损</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >4：其他</td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata green' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
    <tr>
        <td class='gauge-style gauge-styleLeft' >四、本年年末余额</td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
        <td class='tddata gray' >
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
     </td>
    </tr>
</table>
</block>
</extend>