<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="一般企业财务报表">
<input type='hidden' id="table_name" value="利润表">
<input type='hidden' id="table_type" value="1">
<table id="bodytable" width="681px;">
<tr class='titletr title-notic'>
    <td colspan = '3' id='titletd'>利润表</td>
</tr>
<tr class='titletr title-notic'>
    <td colspan = '3' class='font-weight'>（使用执行企业会计准则的一般企业）</td>
</tr>
<tr class='titletr'>
    <td colspan = '3'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '2'>税款所属期：2015年02月01日至2015年02月28日</td>
</tr>
<tr class='titletr'>
    <td colspan = '2'>纳税人识别号：410711775106396</td>
    <td class='text-right'>会企01表</td>
</tr>
<tr class='titletr'>
    <td colspan = '2'>纳税人名称：河南起重机械有限公司</td>
    <td class='text-right'>单位：元</td>
</tr>
<tr>
    <td class='gauge-style text-center' style="width:
    290px;height:26px;">资产</td>
    <td class='gauge-style text-center' style="width:
    190px;">本期余额</td>
    <td class='gauge-style text-center' style="width:
    198px;">上期余额</td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">一、营业收入</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">减：营业成本</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">营业税金及附加</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">销售费用</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">管理费用</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">财务费用</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">资产减值损失</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">加：公允价值变动收益（损失以"-"号填列）</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">投资收益（损失以"-"号填列）</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">其中：对联营企业和合营企业的投资收益</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">二、营业利润（损失以"-"号填列）</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">加：营业外收入</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">减：营业外支出</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">其中：非流动资产处置损失</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">三、利润总额（损失以"-"号填列）</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">减：所得税费用</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">四、净利润（损失以"-"号填列）</td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata gray'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">五：每股收益</td>
    <td class='gauge-style text-content'></td>
    <td class='gauge-style text-content'></td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">（一）基本每股收益</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
<tr>
    <td class='gauge-style text-left' style="height:26px;">（二）稀释每股收益</td>
    <td class ='tddata'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
    <td class ='tddata green'>
        <div class='divimage'></div>
        <div class='divdata'>0.00</div>
    </td>
</tr>
</table>
</block>